body{
    background-color: rgb(253, 182, 95);
}

header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    height: 40%;
}

header img{
    width: 95%;
    height: 90%;
    border-radius: 60px;
    border: 20px solid black;
    background-color: black;
}

nav{
    background-color: rgb(155, 40, 40);
    text-align: center;
}

footer{
    background-color: rgb(155, 40, 40);
    text-align:center
}

#inicio{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid rgb(111, 82, 82);
    background-color: rgb(111, 82, 82);
    border-radius: 30px;
    margin-top: 20px;
}


#inicio p{
    font-size:25pt;
}

#p1{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 5px;
    background-color: rgb(111, 82, 82);
}

#p1 img{
    width: 260px;
    height: 260px;
    padding: 25px;
    border-radius: 60px;
}

#p1 p{
    padding-left: 30px;
    font-size: 22pt;
}

#p2{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(111, 82, 82);
    padding: 25px;
    border-radius: 50px;
}

#p2 img{
    width: 500px;
    height: 450px;
    border-radius: 20px;
}

#p2 ul{
    list-style: none;
}

#p2 ul li p{
    font-size: 20pt;
}

#mapa-mental{
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: 20px solid black;
    background-color: black;
    border-radius: 20px;
}

#mapa-mental img{
     border-radius: 20px;
}

#p3{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(111, 82, 82);
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

#p3 ul li{
    list-style-type: none;
}

#p3 ul li p{
    font-size: 20pt;
}

#p3 ul li img{
    width: 250px;
    height: 250px;
    text-align: center;
}

#final{
    margin-top: 200px;
    width: 70%;
    margin-bottom:100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 20px solid black;
    background-color: black;
    border-radius: 20px;
}

#final img{
    width:100%
}